<button class="main-button back" routerLink="/item/view">{{'Tagasi' | translate}}</button>

<form *ngIf="itemEditForm" (ngSubmit)="onSubmit(itemEditForm)" [formGroup]="itemEditForm">
  <input hidden type="number" formControlName="id" required><br>
  <label>Nimetus:</label><br>
  <input type="text" formControlName="title" required><br>
  <label>Hind:</label><br>
  <input type="number" formControlName="price" required><br>
  <label>Pilt:</label><br>
  <input type="text" formControlName="imgSrc" required><br>
  <label>Kategooria:</label><br>
  <!-- <input type="text" formControlName="category" required><br> -->
  <select formControlName="category">
    <option *ngFor="let category of categories" [selected]="itemEditForm.value.category == category.name" [value]="category.name">{{ category.name }}</option>
  </select><br><br>
  <button [disabled]="itemEditForm.invalid" class="main-button add">Sisesta</button>
</form>