<div class="navbar">
  <img class="logo" routerLink="/" src="assets\webshio.png">
  <!-- <span (click)="useLanguage('en')">en</span>
  <span (click)="useLanguage('ee')">ee</span> -->
  <div>
    <img class="lang-1" (click)="useLanguage('ee')" src="assets/i18n/ee.png">
    <img class="lang-2" (click)="useLanguage('en')" src="assets/i18n/en.png">
  </div>
  <div class="cart-box" routerLink="cart">
    <img src="assets/shopping-cart.svg">
    <span>{{ cartTotal.toFixed(2) }} €</span>
  </div>
</div>