<div class="navbar">
  <img class="logo" routerLink="/" src="assets\webshio.png">
  <div>
    <div class="admin-button" *ngIf="isLoggedIn" routerLink="/admin">Admini vaade</div>
    <div class="logout-button" *ngIf="isLoggedIn" (click)="onLogout()">Logi välja</div>
    <div class="login-button" *ngIf="!isLoggedIn" routerLink="/login">Logi sisse</div>
    <div class="signup-button" *ngIf="!isLoggedIn" routerLink="/signup">Registreeru</div>
  </div>
  <div>
    <img class="lang-1" (click)="useLanguage('ee')" src="assets/i18n/ee.png">
    <img class="lang-2" (click)="useLanguage('en')" src="assets/i18n/en.png">
  </div>
  <div class="cart-box" routerLink="cart">
    <img src="assets/shopping-cart.svg">
    <span>{{ cartTotal.toFixed(2) }} €</span>
  </div>
</div>