.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 100px 0 lightgray;
}

.navbar img {
    height: 110px;
    margin-top: -25px;
    cursor: pointer;
}

.cart-box {
    height: 80%;
    width: 100px;
    background-color: #007cc3;
    cursor: pointer;
}

.cart-box img {
    margin: 15% 0 0 15%;
    height: 30px;
    width: 30px;
}

.content {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid gray;
}