<div *ngIf="itemsInCart.length > 0">
  <div class="item-count">Ostukorvis on {{ countOfCart }} eset</div>
  <button (click)="onEmptyCart()" class="empty-cart-button">Tühjenda ostukorv</button>
  <br><br>
  <div class="items-wrapper">
    <div class="item" *ngFor="let item of itemsInCart; let i = index">
      <img src="{{ item.cartItem.imgSrc }}">
      <div class="item-title">{{ item.cartItem.title }}</div>
      <div class="item-price">{{ item.cartItem.price }} €</div>
      <div class="add-to-cart-button">
        <img (click)="onRemoveFromCart(item.cartItem)" src="assets/minus.svg">
        <img (click)="onAddToCart(item.cartItem)" src="assets/plus.svg">
      </div>
      <div class="item-price">{{ item.count }} tk</div>
      <div class="item-price">{{ item.cartItem.price * item.count  }} €</div>
      <img (click)="onDeleteFromCart(i)" class="delete-from-cart-button" src="assets/bin.svg" alt="">
    </div>
  </div>

  <div class="sum-of-cart">{{ sumOfCart.toFixed(2) }} €</div>
</div>



<div class="empty-cart" *ngIf="itemsInCart.length == 0">
  <img src="assets/cart-sad.svg">
  <span>Ostukorv on tühi</span>
</div>