.items-wrapper {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 300px;
  height: 350px;
  border: 1px solid gray;
  padding-bottom: 20px;
}

.item img {
  width: 300px;
  height: 250px;
}

.item-title, .item-price {
  margin: 10px;
}

.add-to-cart-button {
 position: absolute;
 background-color: white  ;
 margin-top: -40px;
 margin-left: 98px;
 visibility: hidden; 
 box-shadow: 0 0 10px 0 lightgray;
 border-radius: 30px;
 padding: 10px;
 cursor: pointer;
}

.item:hover .add-to-cart-button {
  visibility: visible;   
 }