/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

body {
    margin: 0;
}

* {
    font-family: 'Lora', serif;
    outline: none;
}

.main-button {
    position: relative;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #007cc3;
    color: white;
    font-size: 20px;
}

.main-button:disabled {
    opacity: 0.5;
    cursor: default;
}

.back {
    height: 50px;
    width: 150px;
    top: -100px;
    margin: 30px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red !important;
}